In [1]:
#importa las librerias necesarias y las funciones creadas
import pandas as pd 
import numpy as np

In [2]:
from src import soporte_eda as se

In [3]:
#configura para poder visualizar todas las columnas de los DataFrames
pd.set_option("display.max_columns", None)

Voy a comenzar leyendo cada uno de los csv y observando la forma, los nulos y duplicados de cada uno. Al leer el csv es necesario indicar el separador ya que por defecto separa por comas y en este caso hay que indicar que separe por punto y coma. Además, es necesario introducir el encoding al no ser el idioma el español

### 2013

In [4]:
#lee el csv de datos de 2013 y saca las primeras filas para una observacion inicial
df_2013 = pd.read_csv("datos/datos-2013.csv", sep=";", encoding="latin-1")
df_2013.head()

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC,"0,00","0,00","1297,13","0,00",31/12/2013,2013
1,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,"0,00","0,00","26666621,42","0,00",31/12/2013,2013
2,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS E JUROS DE MORA,"0,00","0,00","301251,13","0,00",31/12/2013,2013
3,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIV.ATIVA POR INFRAÇÃO ADMINISTRATIVA,"0,00","0,00","1855,58","0,00",31/12/2013,2013
4,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",OUTRAS RESTITUICOES,"0,00","0,00","52140,68","0,00",31/12/2013,2013

In [5]:
#saca el numero de filas y columnas de este dataframe
df_2013.shape

(4498, 16)

Para el año 2013 contamos con 16 columnas y 4498 filas

In [6]:
#se aplica al dataframe la funcion de info_reporte
se.info_reporte(df_2013)

                           Numero_nulos  Porcentaje_nulos Tipo_dato
CÓDIGO ÓRGÃO SUPERIOR                 0               0.0     int64
NOME ÓRGÃO SUPERIOR                   0               0.0    object
CÓDIGO ÓRGÃO                          0               0.0     int64
NOME ÓRGÃO                            0               0.0    object
CÓDIGO UNIDADE GESTORA                0               0.0     int64
NOME UNIDADE GESTORA                  0               0.0    object
CATEGORIA ECONÔMICA                   0               0.0    object
ORIGEM RECEITA                        0               0.0    object
ESPÉCIE RECEITA                       0               0.0    object
DETALHAMENTO                          0               0.0    object
VALOR PREVISTO ATUALIZADO             0               0.0    object
VALOR LANÇADO                         0               0.0    object
VALOR REALIZADO                       0               0.0    object
PERCENTUAL REALIZADO                  0               0.0    object
DATA LANÇAMENTO                       0               0.0    object
ANO EXERCÍCIO                         0               0.0     int64

In [7]:
#comprueba si hay duplicados por todas las columnas
df_2013.duplicated().sum()

np.int64(0)

In [8]:
#comprueba si hay duplicados por la columna DETALHAMENTO
df_2013.duplicated("DETALHAMENTO").sum()

np.int64(3794)

Parece que no hay nulos y que tampoco hay duplicados por todas las columnas. En este caso no contamos con una columna que me identifique cada registro, cada ingreso, por lo tanto es complicado observar si hay duplicados por una columna específica. He pensado que quizás la columna de DETALHAMENTO que te da el detalle del ingreso podría ser como el "identificador unico" en esta tabla pero veo que hay un montón de duplicados también por esta columna asique no es posible. Además, observo que el tipo de dato de las columnas 'VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO', 'VALOR REALIZADO', 'PERCENTUAL REALIZADO' noi es correcto ya que aparece como object y debería ser float. La columna DATA LANÇAMENTO también tiene el tipo de dato incorrecto. Esta como tipo object y debería estar en tipo fecha

In [9]:
#se genera una funcion que va a primero reemplazar comas por puntos y luego va a convertir la columna a tipo de dato decimal
def conversion_tipo_datos(columna):
    return columna.str.replace(",", ".").astype(float)

In [10]:
#aplica la funcion conversion_tipo_dato a las 4 columnas 'VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO', 'VALOR REALIZADO','PERCENTUAL REALIZADO' para cambiar a decimal
df_2013[['VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO', 'VALOR REALIZADO',
       'PERCENTUAL REALIZADO']] = df_2013[['VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO', 'VALOR REALIZADO',
       'PERCENTUAL REALIZADO']].apply(conversion_tipo_datos)

In [11]:
#convierte la columna DATA LANÇAMENTO a tipo fecha
df_2013["DATA LANÇAMENTO"] = pd.to_datetime(df_2013["DATA LANÇAMENTO"], format="%d/%m/%Y")

In [12]:
#comprueba que el tipo de dato de todas las columnas es ahora el correcto
df_2013.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4498 entries, 0 to 4497
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   CÓDIGO ÓRGÃO SUPERIOR      4498 non-null   int64
 1   NOME ÓRGÃO SUPERIOR        4498 non-null   object
 2   CÓDIGO ÓRGÃO               4498 non-null   int64
 3   NOME ÓRGÃO                 4498 non-null   object
 4   CÓDIGO UNIDADE GESTORA     4498 non-null   int64
 5   NOME UNIDADE GESTORA       4498 non-null   object
 6   CATEGORIA ECONÔMICA        4498 non-null   object
 7   ORIGEM RECEITA             4498 non-null   object
 8   ESPÉCIE RECEITA            4498 non-null   object
 9   DETALHAMENTO               4498 non-null   object
 10  VALOR PREVISTO ATUALIZADO  4498 non-null   float64
 11  VALOR LANÇADO              4498 non-null   float64
 12  VALOR REALIZADO            4498 non-null   float64
 13  PERCENTUAL REALIZADO       4498 non-null   float64
 14  DATA LANÇAMENTO            4498 non-null   datetime64[ns]
 15  ANO EXERCÍCIO              4498 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(4), object(7)
memory usage: 562.4+ KB

El análisis exploratorio de las variables numéricas y categóricas una a una lo voy a hacer más detallado cuando ya haya concatenado todos los dataframes individuales, pero para cada uno, voy a sacar los descriptivos de las variables simplemente para observar si hay algo de un año en concreto y una variable concreta que me sorprenda, o que sea atípico y haya que tener en cuenta

In [13]:
#devuelve los descriptivos de las variables numericas
df_2013.describe().T

,count,mean,min,25%,50%,75%,max,std
CÓDIGO ÓRGÃO SUPERIOR,4498.0,31729.657626,20000.0,25000.0,26000.0,36000.0,81000.0,10691.972258
CÓDIGO ÓRGÃO,4498.0,31447.970431,20101.0,25916.0,26292.0,35000.0,91214.0,10798.289531
CÓDIGO UNIDADE GESTORA,4498.0,233059.79791,110005.0,153173.0,160075.0,254420.0,913001.0,141561.057724
VALOR PREVISTO ATUALIZADO,4498.0,483470641.690093,0.0,0.0,23091.0,1108096.75,610065700590.0,10263685552.731728
VALOR LANÇADO,4498.0,254014415.656723,0.0,0.0,0.0,0.0,295606275807.679993,6061874000.837905
VALOR REALIZADO,4498.0,420990155.424584,-276398836.04,503.08,48039.965,978151.3125,413786247189.789978,7658595610.254892
PERCENTUAL REALIZADO,4498.0,999.233882,-201.0,0.0,0.0,99.0,1605449.0,26062.597812
DATA LANÇAMENTO,4498,2013-12-31 00:00:00,2013-12-31 00:00:00,2013-12-31 00:00:00,2013-12-31 00:00:00,2013-12-31 00:00:00,2013-12-31 00:00:00,NaN
ANO EXERCÍCIO,4498.0,2013.0,2013.0,2013.0,2013.0,2013.0,2013.0,0.0

In [14]:
#devuelve los descriptivos de las variables categoricas
df_2013.describe(include="object").T

,count,unique,top,freq
NOME ÓRGÃO SUPERIOR,4498,25,Ministério da Educação,1833
NOME ÓRGÃO,4498,266,Ministério da Economia - Unidades com vínculo ...,494
NOME UNIDADE GESTORA,4498,279,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,415
CATEGORIA ECONÔMICA,4498,5,Receitas Correntes,4001
ORIGEM RECEITA,4498,15,Outras Receitas Correntes,1982
ESPÉCIE RECEITA,4498,44,Receita de Serviços,978
DETALHAMENTO,4498,704,RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,214

De primeras, hay varias cosas que me sorprenden. En primer lugar, que solo se disponga de una fecha de registro en este año (el 31 de diciembre). En segundo lugar, que haya valores negativos en la columna de valor realizado y en tercer lugar la cantidad de ceros observados en columnas como valor previsto actualizado, valor lanzado o percentual realizado

In [15]:
#devuelve el registro donde el valor realizado toma el valor mínimo
df_2013[df_2013["VALOR REALIZADO"] == -276398836.04]

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
1133,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170013,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,Receitas Correntes,Contribuições,Contribuições sociais,REC.DO PRINCIPAL DA CONTR. S/ MOV. FINANCEIRA,0.0,0.0,-2.763988e+08,0.0,2013-12-31,2013

In [16]:
#devuelve los registros donde valor realizado es negativo
df_2013[df_2013["VALOR REALIZADO"] < 0].head()

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
53,22000,"Ministério da Agricultura, Pecuária e Abastec",22211,Companhia Nacional de Abastecimento,135100,COMPANHIA NACIONAL DE ABASTECIMENTO,Receitas de Capital,Alienação de Bens,Alienação de bens móveis,ALIENACAO DE TITULOS MOBILIARIOS,0.0,0.0,-35.2,0.0,2013-12-31,2013
78,22000,"Ministério da Agricultura, Pecuária e Abastec",22211,Companhia Nacional de Abastecimento,135100,COMPANHIA NACIONAL DE ABASTECIMENTO,Receitas de Capital,Alienação de Bens,Alienação de bens móveis,ALIENACAO DE OUTROS BENS MOVEIS,1031.0,0.0,-1224.8,-119.0,2013-12-31,2013
81,22000,"Ministério da Agricultura, Pecuária e Abastec",22000,"Ministério da Agricultura, Pecuária e Abasteci...",130101,COORD.-GERAL DE ORCAMENTO E FINANCAS-MAPA,Receitas de Capital,Alienação de Bens,Alienação de bens móveis,ALIENACAO DE OUTROS BENS MOVEIS,359956.0,0.0,-35007.5,-10.0,2013-12-31,2013
135,22000,"Ministério da Agricultura, Pecuária e Abastec",22202,Empresa Brasileira de Pesquisa Agropecuária,135037,EMBRAPA-SETORIAL,Receitas Correntes,Receita de Serviços,Receita de Serviços,OUTROS SERVICOS COMERCIAIS,0.0,0.0,-37.9,0.0,2013-12-31,2013
543,52000,Ministério da Defesa,52121,Comando do Exército,160075,D CONT - SETORIAL FINANCEIRA,Receitas Correntes,Receita Patrimonial,Demais receitas patrimoniais,Demais receitas patrimoniais,0.0,0.0,-91.0,0.0,2013-12-31,2013

In [17]:
#devuelve los registros donde PERCENTUAL REALIZADO es negativo 
df_2013[df_2013["PERCENTUAL REALIZADO"] <0].head()

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
78,22000,"Ministério da Agricultura, Pecuária e Abastec",22211,Companhia Nacional de Abastecimento,135100,COMPANHIA NACIONAL DE ABASTECIMENTO,Receitas de Capital,Alienação de Bens,Alienação de bens móveis,ALIENACAO DE OUTROS BENS MOVEIS,1031.0,0.0,-1224.80,-119.0,2013-12-31,2013
81,22000,"Ministério da Agricultura, Pecuária e Abastec",22000,"Ministério da Agricultura, Pecuária e Abasteci...",130101,COORD.-GERAL DE ORCAMENTO E FINANCAS-MAPA,Receitas de Capital,Alienação de Bens,Alienação de bens móveis,ALIENACAO DE OUTROS BENS MOVEIS,359956.0,0.0,-35007.50,-10.0,2013-12-31,2013
1163,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170013,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,Receitas Correntes,Transferências Correntes,Transferências de Convênios,TRANSF.DOS ESTADOS DF E SUAS ENTIDADES,8874693.0,0.0,-127592.31,-1.0,2013-12-31,2013
1721,26000,Ministério da Educação,26278,Fundação Universidade Federal de Pelotas,154047,FUNDACAO UNIVERSIDADE FEDERAL DE PELOTAS,Receitas de Capital,Transferências de Capital,Transferências de Pessoas Físicas,"TRANSF.DE CONV.DOS ESTADOS,DF E S/ENTIDADES",509614.0,0.0,-318183.98,-62.0,2013-12-31,2013
2551,26000,Ministério da Educação,26417,Instituto Federal da Paraíba,158138,IFPB - REITORIA,Receitas Correntes,Receita de Serviços,Receita de Serviços,OUTROS RECEITAS DE SERVICOS,2798.0,0.0,-95.25,-3.0,2013-12-31,2013

Parece que hay más de un registro donde el valor realizado es negativo por lo que considero que no ha sido un error en la introducción de los datos, sino que tiene que tener alguna explicación. Estos valores negativos pueden corresponder a ajustes administrativos, devoluciones, compensaciones tributarias o pérdidas financieras en la ejecución de ingresos. Cada caso variará en función de la naturaleza del ingreso. Por ejemplo, podría ocurrir que en el caso de las multas (que por lo que veo hay varias indicadas en el detalle de los ingresos) se hubiese inicialmente registrado un ingreso positivo por una multa emitida, pero que a posteriori la multa se revisara y se anulara por ejemplo, y que ahora el gobierno este registrando un ingreso negativo con el fin de reflejar esa anulación o devolución del dinero que ya fue registrado. Los valores negativos en la columna del percentual tienen sentido en aquellos registros cuyo valor realizado es negativo ya que la columna del percentual es calculada como (valor realizado/ valor previsto actualizado)*100 y si se preveía un ingreso positivo pero finalmente el recaudado ha sido negativo, el percentual es lógico que salga negativo

### 2014

In [18]:
#lee el csv de datos de 2014 y saca las primeras filas para una observacion inicial
df_2014 = pd.read_csv("datos/datos-2014.csv", sep=";", encoding="latin-1")
df_2014.head()

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,RECEITA DE HONORÁRIOS DE ADVOGADOS,"0,00","0,00","46699948,08","0,00",31/12/2014,2014
1,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",MULTAS E JUROS PREVISTOS EM CONTRATOS,"0,00","0,00","15920,83","0,00",31/12/2014,2014
2,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS E JUROS DE MORA,"0,00","0,00","2195899,92","0,00",31/12/2014,2014
3,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes - intra-orçamentárias,Outras Receitas Correntes,Indenizações e restituições,RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,"0,00","0,00","232,02","0,00",31/12/2014,2014
4,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receita de Serviços,Receita de Serviços,TAR.INSCR.CONCURSOS E PROCESSOS SELETIVOS,"0,00","0,00","367815,01","0,00",31/12/2014,2014

In [19]:
#saca el numero de filas y columnas de este dataframe
df_2014.shape

(4553, 16)

Para 2014 contamos con 16 columnas y 4553 filas

In [20]:
#saca el reporte de nulos y tipo de dato de las columnas
se.info_reporte(df_2014)

                           Numero_nulos  Porcentaje_nulos Tipo_dato
CÓDIGO ÓRGÃO SUPERIOR                 0               0.0     int64
NOME ÓRGÃO SUPERIOR                   0               0.0    object
CÓDIGO ÓRGÃO                          0               0.0     int64
NOME ÓRGÃO                            0               0.0    object
CÓDIGO UNIDADE GESTORA                0               0.0     int64
NOME UNIDADE GESTORA                  0               0.0    object
CATEGORIA ECONÔMICA                   0               0.0    object
ORIGEM RECEITA                        0               0.0    object
ESPÉCIE RECEITA                       0               0.0    object
DETALHAMENTO                          0               0.0    object
VALOR PREVISTO ATUALIZADO             0               0.0    object
VALOR LANÇADO                         0               0.0    object
VALOR REALIZADO                       0               0.0    object
PERCENTUAL REALIZADO                  0               0.0    object
DATA LANÇAMENTO                       0               0.0    object
ANO EXERCÍCIO                         0               0.0     int64

In [21]:
#comprueba si hay duplicados por todas las columnas
df_2014.duplicated().sum()

np.int64(0)

Para 2014 parece que tampoco hay nulos ni duplicados. En cuanto al tipo de dato de las columnas ocurre exactamente lo mismo que en 2013

In [22]:
#aplica la funcion a las 4 columnas 'VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO', 'VALOR REALIZADO','PERCENTUAL REALIZADO' para cambiar a decimal
df_2014[['VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO', 'VALOR REALIZADO',
       'PERCENTUAL REALIZADO']] = df_2014[['VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO', 'VALOR REALIZADO',
       'PERCENTUAL REALIZADO']].apply(conversion_tipo_datos)

In [23]:
#convierte la columna DATA LANÇAMENTO a tipo fecha
df_2014["DATA LANÇAMENTO"] = pd.to_datetime(df_2014["DATA LANÇAMENTO"], format="%d/%m/%Y")

In [24]:
#devuelve los descriptivos de las variables numericas
df_2014.describe().T

,count,mean,min,25%,50%,75%,max,std
CÓDIGO ÓRGÃO SUPERIOR,4553.0,31834.175269,20000.0,25000.0,26000.0,36000.0,81000.0,10806.83775
CÓDIGO ÓRGÃO,4553.0,31847.635186,20101.0,26000.0,26298.0,36201.0,91214.0,11174.747667
CÓDIGO UNIDADE GESTORA,4553.0,236983.185153,110005.0,153173.0,164204.0,264001.0,913001.0,145858.267379
VALOR PREVISTO ATUALIZADO,4553.0,525396271.934819,0.0,0.0,18862.0,1300000.0,654746947069.0,11072943886.144266
VALOR LANÇADO,4553.0,278181643.108173,0.0,0.0,0.0,0.0,357160677863.969971,7027763573.988616
VALOR REALIZADO,4553.0,491665073.430239,-624211482.24,292.4,42646.2,960692.7,548491208660.309998,10062396210.838694
PERCENTUAL REALIZADO,4553.0,16765.438612,-114552.0,0.0,0.0,95.0,72363772.0,1072811.458539
DATA LANÇAMENTO,4553,2014-12-31 00:00:00,2014-12-31 00:00:00,2014-12-31 00:00:00,2014-12-31 00:00:00,2014-12-31 00:00:00,2014-12-31 00:00:00,NaN
ANO EXERCÍCIO,4553.0,2014.0,2014.0,2014.0,2014.0,2014.0,2014.0,0.0

In [25]:
#devuelve los descriptivos de las variables categoricas
df_2014.describe(include="object").T

,count,unique,top,freq
NOME ÓRGÃO SUPERIOR,4553,25,Ministério da Educação,1841
NOME ÓRGÃO,4553,267,Ministério da Economia - Unidades com vínculo ...,482
NOME UNIDADE GESTORA,4553,278,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,382
CATEGORIA ECONÔMICA,4553,5,Receitas Correntes,4095
ORIGEM RECEITA,4553,15,Outras Receitas Correntes,2050
ESPÉCIE RECEITA,4553,46,Receita de Serviços,973
DETALHAMENTO,4553,708,RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,216

Observo algo parecido al 2013. Por un lado, solo se dispone de una fecha de registro (31 de diciembre). Si esto es así para todos los años, eliminaré esta columna puesto que no aportaría información valiosa para el análisis. Por otro lado, sigo observando muchos ceros y en este año también hay presencia de valores negativos

### 2015

In [26]:
#lee el csv de datos de 2015 y saca las primeras filas para una observacion inicial
df_2015 = pd.read_csv("datos/datos-2015.csv", sep=";", encoding="latin-1")
df_2015.head()

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,RECEITA DE HONORARIOS DE ADVOGADOS,"0,00","0,00","63829853,40","0,00",31/12/2015,2015
1,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receita de Serviços,Receita de Serviços,TAR.INSCR.CONCURSOS E PROCESSOS SELETIVOS,"636000,00","0,00","4486964,41","705,00",31/12/2015,2015
2,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,RECEITA DE ONUS DE SUCUMBENCIA,"0,00","0,00","13060401,15","0,00",31/12/2015,2015
3,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",OUTRAS RESTITUICOES,"0,00","0,00","48085,58","0,00",31/12/2015,2015
4,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS E JUROS DE MORA,"0,00","0,00","1022856,02","0,00",31/12/2015,2015

In [27]:
#saca el numero de filas y columnas de este dataframe
df_2015.shape

(4523, 16)

Para 2015 cuento con 4253 filas y 16 columnas

In [28]:
#saca el reporte de nulos y tipo de dato de las columnas
se.info_reporte(df_2015)

                           Numero_nulos  Porcentaje_nulos Tipo_dato
CÓDIGO ÓRGÃO SUPERIOR                 0               0.0     int64
NOME ÓRGÃO SUPERIOR                   0               0.0    object
CÓDIGO ÓRGÃO                          0               0.0     int64
NOME ÓRGÃO                            0               0.0    object
CÓDIGO UNIDADE GESTORA                0               0.0     int64
NOME UNIDADE GESTORA                  0               0.0    object
CATEGORIA ECONÔMICA                   0               0.0    object
ORIGEM RECEITA                        0               0.0    object
ESPÉCIE RECEITA                       0               0.0    object
DETALHAMENTO                          0               0.0    object
VALOR PREVISTO ATUALIZADO             0               0.0    object
VALOR LANÇADO                         0               0.0    object
VALOR REALIZADO                       0               0.0    object
PERCENTUAL REALIZADO                  0               0.0    object
DATA LANÇAMENTO                       0               0.0    object
ANO EXERCÍCIO                         0               0.0     int64

In [29]:
#comprueba si hay duplicados por todas las columnas
df_2015.duplicated().sum()

np.int64(0)

Para 2015 parece que no hay nulos ni duplicados. De nuevo, hay que aplicar la misma conversion del tipo de de dato de las 5 columnas ya vistas. Parece que va a ocurrir igual en todos los años

In [30]:
#aplica la funcion a las 4 columnas 'VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO', 'VALOR REALIZADO','PERCENTUAL REALIZADO' para cambiar a decimal
df_2015[['VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO', 'VALOR REALIZADO',
       'PERCENTUAL REALIZADO']] = df_2015[['VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO', 'VALOR REALIZADO',
       'PERCENTUAL REALIZADO']].apply(conversion_tipo_datos)

In [31]:
#convierte la columna DATA LANÇAMENTO a tipo fecha
df_2015["DATA LANÇAMENTO"] = pd.to_datetime(df_2015["DATA LANÇAMENTO"], format="%d/%m/%Y")

In [32]:
#devuelve los descriptivos de las variables numericas
df_2015.describe().T

,count,mean,min,25%,50%,75%,max,std
CÓDIGO ÓRGÃO SUPERIOR,4523.0,32037.806765,20000.0,25000.0,26000.0,36000.0,81000.0,10987.775514
CÓDIGO ÓRGÃO,4523.0,32006.822905,20101.0,26000.0,26298.0,36211.0,91214.0,11456.192853
CÓDIGO UNIDADE GESTORA,4523.0,236814.644263,110005.0,153173.0,167086.0,264001.0,913001.0,145459.951203
VALOR PREVISTO ATUALIZADO,4523.0,636486304.579686,0.0,0.0,22067.0,1567857.5,902028908307.0,14820313395.21006
VALOR LANÇADO,4523.0,67940884.694161,0.0,0.0,0.0,0.0,54211937114.779999,1343559057.178248
VALOR REALIZADO,4523.0,589362231.960895,-500851791.0,374.48,44400.05,913270.885,771117711060.949951,13048246786.415106
PERCENTUAL REALIZADO,4523.0,336.481539,-402.0,0.0,0.0,81.0,745465.0,11303.101576
DATA LANÇAMENTO,4523,2015-12-31 00:00:00,2015-12-31 00:00:00,2015-12-31 00:00:00,2015-12-31 00:00:00,2015-12-31 00:00:00,2015-12-31 00:00:00,NaN
ANO EXERCÍCIO,4523.0,2015.0,2015.0,2015.0,2015.0,2015.0,2015.0,0.0

In [33]:
#devuelve los descriptivos de las variables categoricas
df_2015.describe(include="object").T

,count,unique,top,freq
NOME ÓRGÃO SUPERIOR,4523,25,Ministério da Educação,1803
NOME ÓRGÃO,4523,271,Ministério da Economia - Unidades com vínculo ...,481
NOME UNIDADE GESTORA,4523,288,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,385
CATEGORIA ECONÔMICA,4523,4,Receitas Correntes,4088
ORIGEM RECEITA,4523,14,Outras Receitas Correntes,2076
ESPÉCIE RECEITA,4523,41,"Multas administrativas, contratuais e judicia",962
DETALHAMENTO,4523,707,RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,225

Lo mismo que para 2013 y 2014. La fecha de registro continua siendo el 31 de diciembre siempre, hay presencia de valores negativos y también de muchos ceros

### 2016

In [34]:
#lee el csv de datos de 2016 y saca las primeras filas para una observacion inicial
df_2016 = pd.read_csv("datos/datos-2016.csv", sep=";", encoding="latin-1")
df_2016.head()

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,ENCARGOS LEGAIS PELA INSCR.EM DIV.ATIVA-PRINC,"0,00","0,00","154948,98","0,00",04/04/2016,2016
1,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,ONUS DE SUCUMBENCIA-MULTAS E JUROS,"0,00","0,00","80,84","0,00",08/12/2016,2016
2,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL,"0,00","0,00","4996,11","0,00",22/08/2016,2016
3,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Taxas,TAXA DE CONTROLE E FISC.AMBIENTAL-MUL.JUR.,"0,00","0,00","0,77","0,00",21/03/2016,2016
4,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,ONUS DE SUCUMBENCIA-MULTAS E JUROS,"0,00","0,00","23,45","0,00",04/11/2016,2016

In [35]:
#saca el numero de filas y columnas de este dataframe
df_2016.shape

(194533, 16)

Para 2016 contamos con 194533 filas y 16 columnas

In [36]:
#saca el reporte de nulos y tipo de dato de las columnas
se.info_reporte(df_2016)

                           Numero_nulos  Porcentaje_nulos Tipo_dato
CÓDIGO ÓRGÃO SUPERIOR                 0              0.00     int64
NOME ÓRGÃO SUPERIOR                   0              0.00    object
CÓDIGO ÓRGÃO                          0              0.00     int64
NOME ÓRGÃO                            0              0.00    object
CÓDIGO UNIDADE GESTORA                0              0.00     int64
NOME UNIDADE GESTORA                  0              0.00    object
CATEGORIA ECONÔMICA                   0              0.00    object
ORIGEM RECEITA                        0              0.00    object
ESPÉCIE RECEITA                       0              0.00    object
DETALHAMENTO                          0              0.00    object
VALOR PREVISTO ATUALIZADO             0              0.00    object
VALOR LANÇADO                         0              0.00    object
VALOR REALIZADO                       0              0.00    object
PERCENTUAL REALIZADO                  0              0.00    object
DATA LANÇAMENTO                      82              0.04    object
ANO EXERCÍCIO                         0              0.00     int64

In [37]:
#comprueba si hay duplicados por todas las columnas
df_2016.duplicated().sum()

np.int64(0)

Para 2016 contamos con nulos en la columna de la fecha de registro y no hay duplicados

In [38]:
#aplica la funcion a las 4 columnas 'VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO', 'VALOR REALIZADO','PERCENTUAL REALIZADO' para cambiar a decimal
df_2016[['VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO', 'VALOR REALIZADO',
       'PERCENTUAL REALIZADO']] = df_2016[['VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO', 'VALOR REALIZADO',
       'PERCENTUAL REALIZADO']].apply(conversion_tipo_datos)

In [39]:
#convierte la columna DATA LANÇAMENTO a tipo fecha
df_2016["DATA LANÇAMENTO"] = pd.to_datetime(df_2016["DATA LANÇAMENTO"], format="%d/%m/%Y")

La columna cuenta con un 0,04% de nulos, lo que es prácticamente insignificante pero voy a observar en que filas están estos nulos

In [40]:
#saca los nulos
df_nulos_2016 = df_2016[df_2016["DATA LANÇAMENTO"].isnull()]
df_nulos_2016.head()

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
18141,24000,"Ministério da Ciência, Tecnologia, Inovações",20501,Conselho Nacional de Desenvolvimento Científic...,364102,CONSELHO NAC DE DESENV CIENT E TECNOLOGICO,Receitas de Capital,Operações de Crédito,Operações de crédito - mercado interno,EMPRÉSTIMOS COMPULSÓRIOS,0.0,3.665722e+04,0.0,0.0,NaT,2016
37397,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170010,SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Impostos,IOF - COMERCIALIZACAO DO OURO,0.0,2.490230e+05,0.0,0.0,NaT,2016
37458,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170010,SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Impostos,RECEITA DE PARCELAMENTOS - IMPOSTO EXPORTACAO,0.0,3.287169e+07,0.0,0.0,NaT,2016
38173,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170010,SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Impostos,RETIDO NAS FONTES - CAPITAL,0.0,1.753181e+09,0.0,0.0,NaT,2016
38403,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170010,SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Impostos,IRRF-TRABALHO,0.0,2.242782e+08,0.0,0.0,NaT,2016

No observo ningún patrón en los nulos, es decir, no es que todos correspondan a un mismo nombre de órgano superior o a una misma categoría económica por ejemplo. Al ser una fecha, sería interesante poder comprobar si los nulos es que corresponden a un mes concreto concreto. He pensado en ordenar la columna de fecha pero los nulos pasan a aparecer al final de la columna por lo que esta práctica no tiene sentido. Por otro lado, se puede comprobar si es que las fechas faltantes cumplen algún patrón. Para ello, voy a generar una funcion que en primer lugar saque todas las fechas comprendidas entre la primera fecha (minimo) y la ultima (maximo) disponibles en 2016. En segundo lugar, saca las fechas que verdaderamente tenemos disponibles en 2016 a través de los valores únicos de esta columna. Por último, hace una comparación entre las fechas completas que deberíamos tener en el dataframe y las fechas que realmente tenemos. Se hace mediante una diferencia que lo que devuelve son aquellas fechas de las que carecemos en la columna

In [41]:
#saca los estadisticos de DATA LANÇAMENTO para verificar cual es el minimo y el maximo 
df_2016["DATA LANÇAMENTO"].describe().T

count                           194451
mean     2016-06-29 04:03:52.605643520
min                2016-01-01 00:00:00
25%                2016-03-30 00:00:00
50%                2016-06-29 00:00:00
75%                2016-09-29 00:00:00
max                2016-12-31 00:00:00
Name: DATA LANÇAMENTO, dtype: object

In [42]:
#se invoca a la funcion comprobacion_fechas metiendole como argumentos al dataframe correspondiente y a la columna correspondiente
se.comprobacion_fechas(df_2016, "DATA LANÇAMENTO")

DatetimeIndex(['2016-01-02', '2016-01-03', '2016-01-09', '2016-01-17',
               '2016-01-24', '2016-05-08'],
              dtype='datetime64[ns]', freq=None)

Parece que las fechas faltantes son el 2 de enero, el 3 de enero, el 9 de enero, el 17 de enero, el 24 de enero y el 8 de mayo. Muchas de ellas están concentradas en el mes de enero, y es en este punto en el que habría que tratar de identificar el por qué. Podría estar ocurriendo porque en enero pueden estar ocupados en cerrar las cuentas del ejercicio fiscal anterior, preparación de reportes etc. y esto puede influir en que ciertos ingresos de enero estén quedando pendientes de ser registrados más adelante en el año. Además, en este caso, el mínimo y el máximo de la fecha de registro es el 1 de enero y el 31 de diciembre por lo que se están verificando la existencia en la columna de todas las fechas de un año. Si por ejemplo el mínimo fuese en marzo o el máximo fuese en noviembre, esta comprobación no tendría demasiado sentido ya que la diferencia de las fechas podría salir vacía si las fechas faltantes se concentrasen por ejemplo en febrero o en diciembre. No las sacaría, pero en este caso se comprueba correctamente

En este caso, los valores nulos son complicados de rellenar, pues es complicado identificar a cual de esas 6 fechas de registro corresponden. Una posible aproximación podría ser a partir de la media o mediana de las columnas numéricas para cada mes. Es decir, si por ejemplo el valor realizado tuviese una mediana diferente entre meses, podríamos fijarnos en el valor que toma esta columna de valor realizado para cada registro concreto donde la fecha de registro es un nulo y observar a que mediana de que mes se parece más, y entonces rellenar por lo menos el mes

In [43]:
#calcula la mediana para cada mes de las 4 columnas numericas disponibles
df_2016.groupby(df_2016["DATA LANÇAMENTO"].dt.month_name())[['VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO', 'VALOR REALIZADO',
       'PERCENTUAL REALIZADO']].median()

,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO
DATA LANÇAMENTO,,,,
April,0.0,0.0,2048.110,0.0
August,0.0,0.0,2220.000,0.0
December,0.0,0.0,2139.850,0.0
February,0.0,0.0,1915.445,0.0
January,0.0,0.0,1345.200,0.0
July,0.0,0.0,2100.000,0.0
June,0.0,0.0,2000.000,0.0
March,0.0,0.0,1873.060,0.0
May,0.0,0.0,2082.500,0.0
November,0.0,0.0,2370.000,0.0
October,0.0,0.0,2741.100,0.0
September,0.0,0.0,2377.490,0.0

In [44]:
#comprueba si dentro de los nulos la columna valor realizado toma algun valor en algun registro
df_nulos_2016[df_nulos_2016["VALOR REALIZADO"] != 0]

Empty DataFrame
Columns: [CÓDIGO ÓRGÃO SUPERIOR, NOME ÓRGÃO SUPERIOR, CÓDIGO ÓRGÃO, NOME ÓRGÃO, CÓDIGO UNIDADE GESTORA, NOME UNIDADE GESTORA, CATEGORIA ECONÔMICA, ORIGEM RECEITA, ESPÉCIE RECEITA, DETALHAMENTO, VALOR PREVISTO ATUALIZADO, VALOR LANÇADO, VALOR REALIZADO, PERCENTUAL REALIZADO, DATA LANÇAMENTO, ANO EXERCÍCIO]
Index: []

Se puede observar como la mediana de valor realizado (ya que el resto son ceros) es relativamente parecida entre los meses por lo que esta imputación para los nulos se haría bastante complicada. Además, para todos los registros donde fecha de registro es nula, valor realizado es 0 por lo que rellenar los nulos es una tarea bastante complicada. Por ello, la decisión final es mantener los nulos como están y trabajar con ellos. El % de nulos es mínimo. Eliminarlos no es una opción ya que contienen información en el resto de columnas que puede ser interesante para el análisis de las otras columnas

In [45]:
#devuelve los descriptivos de las variables numericas
df_2016.describe().T

,count,mean,min,25%,50%,75%,max,std
CÓDIGO ÓRGÃO SUPERIOR,194533.0,32738.548215,20000.0,26000.0,26000.0,39000.0,81000.0,11073.110082
CÓDIGO ÓRGÃO,194533.0,32083.873096,20101.0,26232.0,26406.0,36212.0,91214.0,10956.767716
CÓDIGO UNIDADE GESTORA,194533.0,231628.49442,110005.0,153165.0,167086.0,253003.0,913001.0,143304.667336
VALOR PREVISTO ATUALIZADO,194533.0,15178382.321126,0.0,0.0,0.0,0.0,883028610465.0,2369675090.78525
VALOR LANÇADO,194533.0,1675542.08484,-54211937114.779999,0.0,0.0,0.0,93962415840.259995,438666130.993755
VALOR REALIZADO,194533.0,14597582.844365,-156285934188.029999,200.0,2064.0,27498.81,199853249683.029999,880776162.786664
PERCENTUAL REALIZADO,194533.0,0.008204,-8.0,0.0,0.0,0.0,385.0,1.231223
DATA LANÇAMENTO,194451,2016-06-29 04:03:52.605643520,2016-01-01 00:00:00,2016-03-30 00:00:00,2016-06-29 00:00:00,2016-09-29 00:00:00,2016-12-31 00:00:00,NaN
ANO EXERCÍCIO,194533.0,2016.0,2016.0,2016.0,2016.0,2016.0,2016.0,0.0

In [46]:
#devuelve los descriptivos de las variables categoricas
df_2016.describe(include="object").T

,count,unique,top,freq
NOME ÓRGÃO SUPERIOR,194533,25,Ministério da Educação,71840
NOME ÓRGÃO,194533,269,Ministério da Economia - Unidades com vínculo ...,13749
NOME UNIDADE GESTORA,194533,293,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,11126
CATEGORIA ECONÔMICA,194533,4,Receitas Correntes,186687
ORIGEM RECEITA,194533,14,Outras Receitas Correntes,70647
ESPÉCIE RECEITA,194533,44,Serviços Administrativos e Comerciais Gerais,54941
DETALHAMENTO,194533,525,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,30237

En este caso parece que ya contamos con más fechas para la fecha de registro (hay para todo el año, desde el 1 de enero hasta el 31 de diciembre). La presencia de valores negativos es evidente pero ya hemos visto que pueden deberse a explicaciones razonables. La presencia de tantos ceros sigue siendo algo a destacar

### 2017

In [47]:
#lee el csv de datos de 2017 y saca las primeras filas para una observacion inicial
df_2017 = pd.read_csv("datos/datos-2017.csv", sep=";", encoding="latin-1")
df_2017.head()

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL,"0,00","0,00","198,00","0,00",29/08/2017,2017
1,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL,"0,00","0,00","2093,50","0,00",10/02/2017,2017
2,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL,"0,00","0,00","9329,40","0,00",27/11/2017,2017
3,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL,"0,00","0,00","2585,00","0,00",13/11/2017,2017
4,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL,"0,00","0,00","3936,00","0,00",03/05/2017,2017

In [48]:
#saca el numero de filas y columnas de este dataframe
df_2017.shape

(190479, 16)

Para 2017 contamos con 190479 filas y 16 columnas

In [49]:
#saca el reporte de nulos y tipo de dato de las columnas
se.info_reporte(df_2017)

                           Numero_nulos  Porcentaje_nulos Tipo_dato
CÓDIGO ÓRGÃO SUPERIOR                 0              0.00     int64
NOME ÓRGÃO SUPERIOR                   0              0.00    object
CÓDIGO ÓRGÃO                          0              0.00     int64
NOME ÓRGÃO                            0              0.00    object
CÓDIGO UNIDADE GESTORA                0              0.00     int64
NOME UNIDADE GESTORA                  0              0.00    object
CATEGORIA ECONÔMICA                   0              0.00    object
ORIGEM RECEITA                        0              0.00    object
ESPÉCIE RECEITA                       0              0.00    object
DETALHAMENTO                          0              0.00    object
VALOR PREVISTO ATUALIZADO             0              0.00    object
VALOR LANÇADO                         0              0.00    object
VALOR REALIZADO                       0              0.00    object
PERCENTUAL REALIZADO                  0              0.00    object
DATA LANÇAMENTO                      86              0.05    object
ANO EXERCÍCIO                         0              0.00     int64

In [50]:
#comprueba si hay duplicados por todas las columnas
df_2017.duplicated().sum()

np.int64(0)

Para 2017 ocurre algo parecido a 2016. No hay duplicados pero contamos con algunos nulos en la columna de fecha de registro

In [51]:
#aplica la funcion a las 4 columnas 'VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO', 'VALOR REALIZADO','PERCENTUAL REALIZADO' para cambiar a decimal
df_2017[['VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO', 'VALOR REALIZADO',
       'PERCENTUAL REALIZADO']] = df_2017[['VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO', 'VALOR REALIZADO',
       'PERCENTUAL REALIZADO']].apply(conversion_tipo_datos)

In [52]:
#convierte la columna DATA LANÇAMENTO a tipo fecha
df_2017["DATA LANÇAMENTO"] = pd.to_datetime(df_2017["DATA LANÇAMENTO"], format="%d/%m/%Y")

In [53]:
#comprueba cuales son las fechas faltantes
se.comprobacion_fechas(df_2017, "DATA LANÇAMENTO")

DatetimeIndex([], dtype='datetime64[ns]', freq='D')

In [54]:
#saca los estadisticos de DATA LANÇAMENTO para verificar cual es el minimo y el maximo 
df_2017["DATA LANÇAMENTO"].describe().T

count                           190393
mean     2017-06-29 20:17:41.055815936
min                2017-01-01 00:00:00
25%                2017-03-30 00:00:00
50%                2017-06-30 00:00:00
75%                2017-09-28 00:00:00
max                2017-12-31 00:00:00
Name: DATA LANÇAMENTO, dtype: object

En este caso parece que no hay fechas concretas faltantes en la columna por lo que no se puede buscar ni una posible explicación a los nulos a través de un patrón ni tampoco tratar de rellenarlos. Al ser un porcentaje tan mínimo (de un 0,05%) voy a optar por la misma decisión que para 2016, es decir, mantenerlos y trabajar con ellos

In [55]:
#devuelve los descriptivos de las variables numericas
df_2017.describe().T

,count,mean,min,25%,50%,75%,max,std
CÓDIGO ÓRGÃO SUPERIOR,190479.0,32546.968432,20000.0,26000.0,26000.0,39000.0,81000.0,10956.09763
CÓDIGO ÓRGÃO,190479.0,31812.411064,20101.0,26231.0,26405.0,36201.0,91214.0,10680.98742
CÓDIGO UNIDADE GESTORA,190479.0,231653.462523,110005.0,153166.0,167086.0,253003.0,913001.0,142823.950045
VALOR PREVISTO ATUALIZADO,190479.0,17925228.579958,-214773743.0,0.0,0.0,0.0,925084468997.0,2790439139.166227
VALOR LANÇADO,190479.0,2414426.199643,-12957230886.98,0.0,0.0,0.0,84511925102.119995,283840022.292086
VALOR REALIZADO,190479.0,13429550.831677,-24922519115.560001,216.815,2234.2,29537.58,100717273794.669998,428785098.178814
PERCENTUAL REALIZADO,190479.0,0.010012,0.0,0.0,0.0,0.0,742.0,1.846928
DATA LANÇAMENTO,190393,2017-06-29 20:17:41.055815936,2017-01-01 00:00:00,2017-03-30 00:00:00,2017-06-30 00:00:00,2017-09-28 00:00:00,2017-12-31 00:00:00,NaN
ANO EXERCÍCIO,190479.0,2017.0,2017.0,2017.0,2017.0,2017.0,2017.0,0.0

In [56]:
#devuelve los descriptivos de las variables categoricas
df_2017.describe(include="object").T

,count,unique,top,freq
NOME ÓRGÃO SUPERIOR,190479,24,Ministério da Educação,70837
NOME ÓRGÃO,190479,268,Ministério da Economia - Unidades com vínculo ...,14158
NOME UNIDADE GESTORA,190479,318,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,11227
CATEGORIA ECONÔMICA,190479,5,Receitas Correntes,182668
ORIGEM RECEITA,190479,15,Outras Receitas Correntes,68818
ESPÉCIE RECEITA,190479,47,Serviços Administrativos e Comerciais Gerais,51633
DETALHAMENTO,190479,516,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,29841

La fecha de registro en 2017 toma de nuevo valores desde el 1 de enero hasta el 31 de diciembre. Sigue habiendo presencia de muchos ceros y valores negativos. En este caso los valores negativos no solo están en el valor realizado, sino también en el valor previsto actualizable

In [57]:
#devuelve los registros donde el valor previsto actualizable es negativo 
df_2017[df_2017["VALOR PREVISTO ATUALIZADO"] <0]

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
5186,22000,"Ministério da Agricultura, Pecuária e Abastec",20129,Secretaria Especial de Agricultura Familiar e ...,110690,SEC.ESPEC.DE AGRIC.FAMIL.E DO DESENV.AGRARIO,Receitas Correntes,Receita de Serviços,Serviços e Atividades Financeiras,"RETORNO DE OP.,JUR.E ENC.FINANCEIROS-PRINC.",-19264302.0,0.0,0.0,0.0,2017-03-29,2017
5192,22000,"Ministério da Agricultura, Pecuária e Abastec",20129,Secretaria Especial de Agricultura Familiar e ...,110690,SEC.ESPEC.DE AGRIC.FAMIL.E DO DESENV.AGRARIO,Receitas de Capital,Amortizações de Empréstimos,Amortizações de Empréstimos,AMORTIZACAO DE FINANCIAMENTOS-PRINCIPAL,-39057100.0,0.0,0.0,0.0,2017-03-29,2017
5310,22000,"Ministério da Agricultura, Pecuária e Abastec",20129,Secretaria Especial de Agricultura Familiar e ...,110690,SEC.ESPEC.DE AGRIC.FAMIL.E DO DESENV.AGRARIO,Receitas Correntes,Receita Patrimonial,Valores Mobiliários,REMUNERACAO DE DEPOSITOS BANCARIOS-PRINCIPAL,-49471218.0,0.0,0.0,0.0,2017-03-29,2017
50534,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170013,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,Receitas Correntes,Receita Patrimonial,Valores Mobiliários,JUROS DE TITULOS DE RENDA-PRINCIPAL,-17492297.0,0.0,0.0,0.0,2017-01-23,2017
50770,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170013,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,Receitas Correntes,Receita de Serviços,Serviços e Atividades Financeiras,"CONCESSAO DE AVAIS,GARANTIAS E SEGUROS-PRINC.",-162479446.0,0.0,0.0,0.0,2017-01-23,2017
55162,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170013,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,Receitas Correntes,Receita Patrimonial,Valores Mobiliários,REMUNERACAO DE DEPOSITOS BANCARIOS-PRINCIPAL,-214773743.0,0.0,0.0,0.0,2017-01-23,2017

En el caso de las previsiones negativas se me ocurre que también pueden provenir de ajustes o compensaciones de situaciones de años anteriores por ejemplo. Por ejemplo, si en años anteriores se había estimado que para 2017 se cobrarían deudas, pero llegado el año se renegocian esas deudas y se aplazan, pues puede ser que en 2017 se anote una previsión negativa para reflejar esta situación

### 2018

In [58]:
#lee el csv de datos de 2018 y saca las primeras filas para una observacion inicial
df_2018 = pd.read_csv("datos/datos-2018.csv", sep=";", encoding="latin-1")
df_2018.head()

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receitas Correntes - a classificar,Receitas Correntes - a classificar,Receitas Correntes - a classificar,"0,00","0,00","-1693,72","0,00",25/07/2018,2018
1,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Transferências Correntes,Transferências dos Estados e do Distrito Fede,"TRANSF.DOS ESTADOS,DF E SUAS ENTIDADES-PRINC.","0,00","0,00","2612,50","0,00",02/08/2018,2018
2,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receitas Correntes - a classificar,Receitas Correntes - a classificar,Receitas Correntes - a classificar,"0,00","0,00","-258,00","0,00",27/02/2018,2018
3,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receitas Correntes - a classificar,Receitas Correntes - a classificar,Receitas Correntes - a classificar,"0,00","0,00","258,00","0,00",26/02/2018,2018
4,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receitas Correntes - a classificar,Receitas Correntes - a classificar,Receitas Correntes - a classificar,"0,00","0,00","4747,33","0,00",05/03/2018,2018

In [59]:
#saca el numero de filas y columnas de este dataframe
df_2018.shape

(173944, 16)

Para 2018 contamos con 173944 filas y 16 columnas

In [60]:
#saca el reporte de nulos y tipo de dato de las columnas
se.info_reporte(df_2018)

                           Numero_nulos  Porcentaje_nulos Tipo_dato
CÓDIGO ÓRGÃO SUPERIOR                 0              0.00     int64
NOME ÓRGÃO SUPERIOR                   0              0.00    object
CÓDIGO ÓRGÃO                          0              0.00     int64
NOME ÓRGÃO                            0              0.00    object
CÓDIGO UNIDADE GESTORA                0              0.00     int64
NOME UNIDADE GESTORA                  0              0.00    object
CATEGORIA ECONÔMICA                   0              0.00    object
ORIGEM RECEITA                        0              0.00    object
ESPÉCIE RECEITA                       0              0.00    object
DETALHAMENTO                          0              0.00    object
VALOR PREVISTO ATUALIZADO             0              0.00    object
VALOR LANÇADO                         0              0.00    object
VALOR REALIZADO                       0              0.00    object
PERCENTUAL REALIZADO                  0              0.00    object
DATA LANÇAMENTO                     115              0.07    object
ANO EXERCÍCIO                         0              0.00     int64

In [61]:
#comprueba si hay duplicados por todas las columnas
df_2018.duplicated().sum()

np.int64(0)

De nuevo, para 2018 tampoco hay duplicados pero contamos con nulos en la misma columna, la de fecha de registro

In [62]:
#aplica la funcion a las 4 columnas 'VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO', 'VALOR REALIZADO','PERCENTUAL REALIZADO' para cambiar a decimal
df_2018[['VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO', 'VALOR REALIZADO',
       'PERCENTUAL REALIZADO']] = df_2018[['VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO', 'VALOR REALIZADO',
       'PERCENTUAL REALIZADO']].apply(conversion_tipo_datos)

In [63]:
#convierte la columna DATA LANÇAMENTO a tipo fecha
df_2018["DATA LANÇAMENTO"] = pd.to_datetime(df_2018["DATA LANÇAMENTO"], format="%d/%m/%Y")

In [64]:
#comprueba cuales son las fechas faltantes
se.comprobacion_fechas(df_2018, "DATA LANÇAMENTO")

DatetimeIndex([], dtype='datetime64[ns]', freq='D')

In [65]:
#saca los estadisticos de DATA LANÇAMENTO para verificar cual es el minimo y el maximo 
df_2018["DATA LANÇAMENTO"].describe().T

count                           173829
mean     2018-06-29 16:12:32.021814528
min                2018-01-01 00:00:00
25%                2018-03-30 00:00:00
50%                2018-06-29 00:00:00
75%                2018-09-28 00:00:00
max                2018-12-31 00:00:00
Name: DATA LANÇAMENTO, dtype: object

De nuevo, no hay fechas concretas faltantes y al ser el % tan mínimo (0,07%) opto por mantenerlos

In [66]:
#devuelve los descriptivos de las variables numericas
df_2018.describe().T

,count,mean,min,25%,50%,75%,max,std
CÓDIGO ÓRGÃO SUPERIOR,173944.0,31433.438348,20000.0,25000.0,26000.0,36000.0,81000.0,10173.160107
CÓDIGO ÓRGÃO,173944.0,30755.533459,20101.0,25000.0,26285.0,32396.0,91214.0,9815.576922
CÓDIGO UNIDADE GESTORA,173944.0,224782.433128,110005.0,154034.0,167086.0,240901.0,913001.0,138405.214848
VALOR PREVISTO ATUALIZADO,173944.0,20153890.515397,0.0,0.0,0.0,0.0,1130479484929.0,3210826360.954615
VALOR LANÇADO,173944.0,2692942.467565,-10368360188.309999,0.0,0.0,0.0,125769983134.070007,390967467.111376
VALOR REALIZADO,173944.0,16915719.270995,-3500000000.0,295.0,3025.51,37311.76,169256367162.369995,619746464.505592
PERCENTUAL REALIZADO,173944.0,0.001748,0.0,0.0,0.0,0.0,36.0,0.138766
DATA LANÇAMENTO,173829,2018-06-29 16:12:32.021814528,2018-01-01 00:00:00,2018-03-30 00:00:00,2018-06-29 00:00:00,2018-09-28 00:00:00,2018-12-31 00:00:00,NaN
ANO EXERCÍCIO,173944.0,2018.0,2018.0,2018.0,2018.0,2018.0,2018.0,0.0

In [67]:
#devuelve los descriptivos de las variables categoricas
df_2018.describe(include="object").T

,count,unique,top,freq
NOME ÓRGÃO SUPERIOR,173944,22,Ministério da Educação,65876
NOME ÓRGÃO,173944,260,Ministério da Economia - Unidades com vínculo ...,22844
NOME UNIDADE GESTORA,173944,312,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,21206
CATEGORIA ECONÔMICA,173944,5,Receitas Correntes,165585
ORIGEM RECEITA,173944,15,Receita de Serviços,58581
ESPÉCIE RECEITA,173944,47,Serviços Administrativos e Comerciais Gerais,51444
DETALHAMENTO,173944,608,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,29257

La fecha de registro sigue moviéndose entre enero y final de año. Los ceros siguen apareciendo

### 2019

In [68]:
#lee el csv de datos de 2019 y saca las primeras filas para una observacion inicial
df_2019 = pd.read_csv("datos/datos-2019.csv", sep=";", encoding="latin-1")
df_2019.head()

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL,"0,00","0,00","-95,00","0,00",12/06/2019,2019
1,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL,"0,00","0,00","-380,00","0,00",07/05/2019,2019
2,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL,"0,00","0,00","380,00","0,00",01/03/2019,2019
3,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL,"0,00","0,00","-13490,00","0,00",27/02/2019,2019
4,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL,"0,00","0,00","-855,00","0,00",18/04/2019,2019

In [69]:
#saca el numero de filas y columnas de este dataframe
df_2019.shape

(176828, 16)

Para 2019 cuento con 176828 filas y 16 columnas

In [70]:
#saca el reporte de nulos y tipo de dato de las columnas
se.info_reporte(df_2019)

                           Numero_nulos  Porcentaje_nulos Tipo_dato
CÓDIGO ÓRGÃO SUPERIOR                 0              0.00     int64
NOME ÓRGÃO SUPERIOR                   0              0.00    object
CÓDIGO ÓRGÃO                          0              0.00     int64
NOME ÓRGÃO                            0              0.00    object
CÓDIGO UNIDADE GESTORA                0              0.00     int64
NOME UNIDADE GESTORA                  0              0.00    object
CATEGORIA ECONÔMICA                   0              0.00    object
ORIGEM RECEITA                        0              0.00    object
ESPÉCIE RECEITA                       0              0.00    object
DETALHAMENTO                          0              0.00    object
VALOR PREVISTO ATUALIZADO             0              0.00    object
VALOR LANÇADO                         0              0.00    object
VALOR REALIZADO                       0              0.00    object
PERCENTUAL REALIZADO                  0              0.00    object
DATA LANÇAMENTO                      86              0.05    object
ANO EXERCÍCIO                         0              0.00     int64

In [71]:
#comprueba si hay duplicados por todas las columnas
df_2019.duplicated().sum()

np.int64(0)

Para 2019 de nuevo no hay duplicados pero hay valores nulos en la columna de fecha de registro

In [72]:
#aplica la funcion a las 4 columnas 'VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO', 'VALOR REALIZADO','PERCENTUAL REALIZADO' para cambiar a decimal
df_2019[['VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO', 'VALOR REALIZADO',
       'PERCENTUAL REALIZADO']] = df_2019[['VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO', 'VALOR REALIZADO',
       'PERCENTUAL REALIZADO']].apply(conversion_tipo_datos)

In [73]:
#convierte la columna DATA LANÇAMENTO a tipo fecha
df_2019["DATA LANÇAMENTO"] = pd.to_datetime(df_2019["DATA LANÇAMENTO"], format="%d/%m/%Y")

In [74]:
#comprueba cuales son las fechas faltantes
se.comprobacion_fechas(df_2019, "DATA LANÇAMENTO")

DatetimeIndex([], dtype='datetime64[ns]', freq='D')

In [75]:
#saca los estadisticos de DATA LANÇAMENTO para verificar cual es el minimo y el maximo 
df_2019["DATA LANÇAMENTO"].describe().T

count                           176742
mean     2019-07-01 17:29:24.130766848
min                2019-01-01 00:00:00
25%                2019-04-02 00:00:00
50%                2019-07-03 00:00:00
75%                2019-09-30 00:00:00
max                2019-12-31 00:00:00
Name: DATA LANÇAMENTO, dtype: object

No hay fechas concretas faltantes y al ser de nuevo el % de nulos tan mínimo (0,05%) decido mantenerlos

In [76]:
#devuelve los descriptivos de las variables numericas
df_2019.describe().T

,count,mean,min,25%,50%,75%,max,std
CÓDIGO ÓRGÃO SUPERIOR,176828.0,31405.427873,20000.0,25000.0,26000.0,36000.0,81000.0,10158.055628
CÓDIGO ÓRGÃO,176828.0,30821.744752,20101.0,25000.0,26290.0,32396.0,91214.0,9833.51146
CÓDIGO UNIDADE GESTORA,176828.0,225109.603637,110005.0,154039.0,167086.0,240102.0,913001.0,139751.634414
VALOR PREVISTO ATUALIZADO,176828.0,18443791.135726,0.0,0.0,0.0,0.0,747311062387.0,2448775926.144288
VALOR LANÇADO,176828.0,1943902.424359,-148347267246.910004,0.0,0.0,0.0,146326992731.609985,653809991.323663
VALOR REALIZADO,176828.0,16917935.72431,-60439234089.120003,316.825,3263.0,39266.4475,50193922075.790001,471865123.284052
PERCENTUAL REALIZADO,176828.0,0.181284,-282.0,0.0,0.0,0.0,16631.0,48.151189
DATA LANÇAMENTO,176742,2019-07-01 17:29:24.130766848,2019-01-01 00:00:00,2019-04-02 00:00:00,2019-07-03 00:00:00,2019-09-30 00:00:00,2019-12-31 00:00:00,NaN
ANO EXERCÍCIO,176828.0,2019.0,2019.0,2019.0,2019.0,2019.0,2019.0,0.0

In [77]:
#devuelve los descriptivos de las variables categoricas
df_2019.describe(include="object").T

,count,unique,top,freq
NOME ÓRGÃO SUPERIOR,176828,20,Ministério da Educação,67104
NOME ÓRGÃO,176828,249,Ministério da Economia - Unidades com vínculo ...,23514
NOME UNIDADE GESTORA,176828,269,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,22389
CATEGORIA ECONÔMICA,176828,5,Receitas Correntes,169210
ORIGEM RECEITA,176828,15,Receita de Serviços,59957
ESPÉCIE RECEITA,176828,46,Serviços Administrativos e Comerciais Gerais,52747
DETALHAMENTO,176828,636,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,29143

Para 2019 la fecha de registro se mueve entre el 1 de enero y el 31 de diciembre. Continuo observando muchos ceros

### 2020

In [78]:
#lee el csv de datos de 2020 y saca las primeras filas para una observacion inicial
df_2020 = pd.read_csv("datos/datos-2020.csv", sep=";", encoding="latin-1")
df_2020.head()

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA,"0,00","0,00","5516,90","0,00",28/04/2020,2020
1,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA,"0,00","0,00","2946,81","0,00",15/04/2020,2020
2,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA,"0,00","0,00","1541,53","0,00",27/05/2020,2020
3,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA,"0,00","0,00","0,00","0,00",12/06/2020,2020
4,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA,"0,00","0,00","4701,23","0,00",19/03/2020,2020

In [79]:
#saca el numero de filas y columnas de este dataframe
df_2020.shape

(142348, 16)

Para 2020 cuento con 142348 filas y 16 columnas

In [80]:
#saca el reporte de nulos y tipo de dato de las columnas
se.info_reporte(df_2020)

                           Numero_nulos  Porcentaje_nulos Tipo_dato
CÓDIGO ÓRGÃO SUPERIOR                 0              0.00     int64
NOME ÓRGÃO SUPERIOR                   0              0.00    object
CÓDIGO ÓRGÃO                          0              0.00     int64
NOME ÓRGÃO                            0              0.00    object
CÓDIGO UNIDADE GESTORA                0              0.00     int64
NOME UNIDADE GESTORA                  0              0.00    object
CATEGORIA ECONÔMICA                   0              0.00    object
ORIGEM RECEITA                        0              0.00    object
ESPÉCIE RECEITA                       0              0.00    object
DETALHAMENTO                          0              0.00    object
VALOR PREVISTO ATUALIZADO             0              0.00    object
VALOR LANÇADO                         0              0.00    object
VALOR REALIZADO                       0              0.00    object
PERCENTUAL REALIZADO                  0              0.00    object
DATA LANÇAMENTO                      86              0.06    object
ANO EXERCÍCIO                         0              0.00     int64

In [81]:
#comprueba si hay duplicados por todas las columnas
df_2020.duplicated().sum()

np.int64(0)

Para 2020 no hay duplicados y hay nulos en la columna de fecha de registro

In [82]:
#aplica la funcion a las 4 columnas 'VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO', 'VALOR REALIZADO','PERCENTUAL REALIZADO' para cambiar a decimal
df_2020[['VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO', 'VALOR REALIZADO',
       'PERCENTUAL REALIZADO']] = df_2020[['VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO', 'VALOR REALIZADO',
       'PERCENTUAL REALIZADO']].apply(conversion_tipo_datos)

In [83]:
#convierte la columna DATA LANÇAMENTO a tipo fecha
df_2020["DATA LANÇAMENTO"] = pd.to_datetime(df_2020["DATA LANÇAMENTO"], format="%d/%m/%Y")

In [84]:
#comprueba cuales son las fechas faltantes
se.comprobacion_fechas(df_2020, "DATA LANÇAMENTO")

DatetimeIndex(['2020-03-29', '2020-12-25', '2020-12-27'], dtype='datetime64[ns]', freq=None)

In [85]:
#saca los estadisticos de DATA LANÇAMENTO para verificar cual es el minimo y el maximo 
df_2020["DATA LANÇAMENTO"].describe().T

count                           142262
mean     2020-06-25 08:08:07.281213696
min                2020-01-01 00:00:00
25%                2020-03-17 00:00:00
50%                2020-06-26 00:00:00
75%                2020-09-29 00:00:00
max                2020-12-30 00:00:00
Name: DATA LANÇAMENTO, dtype: object

En 2020 parece que hay 3 fechas de registro que faltan. Son en el mes de marzo y diciembre por lo que en este caso no coincide con lo que ocurría en 2016 de que las faltantes estaban concentradas sobretodo en enero. Parece que por tanto no hay un patrón claro para explicar los nulos en la fecha de registro. Sigue siendo un porcentaje mínimo (0,06%) y por tanto decido de nuevo mantenerlos. En este caso si que es verdad que el máximo es el 30 de diciembre y por tanto si alguna fecha faltante fuese el 31 de diciembre no la saca, pero aún así, no afecta nada al análisis.

In [86]:
#devuelve los descriptivos de las variables numericas
df_2020.describe().T

,count,mean,min,25%,50%,75%,max,std
CÓDIGO ÓRGÃO SUPERIOR,142348.0,32077.640711,20000.0,25000.0,26000.0,39000.0,81000.0,10592.032478
CÓDIGO ÓRGÃO,142348.0,31589.881424,20101.0,25000.0,26290.0,36201.0,90000.0,10454.747758
CÓDIGO UNIDADE GESTORA,142348.0,238485.969378,110005.0,154044.0,170013.0,253003.0,873001.0,151613.027466
VALOR PREVISTO ATUALIZADO,142348.0,25129588.887166,0.0,0.0,0.0,0.0,915650943341.0,3072051686.370793
VALOR LANÇADO,142348.0,4963049.234574,-83137328053.639999,0.0,0.0,0.0,257513407925.600006,836427167.553089
VALOR REALIZADO,142348.0,25511061.831035,-22288681258.25,316.335,4344.175,58309.0475,350022251304.299988,1106999777.41763
PERCENTUAL REALIZADO,142348.0,0.283032,0.0,0.0,0.0,0.0,39232.0,103.984657
DATA LANÇAMENTO,142262,2020-06-25 08:08:07.281213696,2020-01-01 00:00:00,2020-03-17 00:00:00,2020-06-26 00:00:00,2020-09-29 00:00:00,2020-12-30 00:00:00,NaN
ANO EXERCÍCIO,142348.0,2020.0,2020.0,2020.0,2020.0,2020.0,2020.0,0.0

In [87]:
#devuelve los descriptivos de las variables categoricas
df_2020.describe(include="object").T

,count,unique,top,freq
NOME ÓRGÃO SUPERIOR,142348,20,Ministério da Educação,40888
NOME ÓRGÃO,142348,254,Ministério da Economia - Unidades com vínculo ...,22686
NOME UNIDADE GESTORA,142348,270,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,21074
CATEGORIA ECONÔMICA,142348,5,Receitas Correntes,135172
ORIGEM RECEITA,142348,15,Outras Receitas Correntes,42127
ESPÉCIE RECEITA,142348,45,Serviços Administrativos e Comerciais Gerais,33271
DETALHAMENTO,142348,625,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,21029

De la misma forma, la fecha de registro se mueve entre enero-final de año. Sigue habiendo presencia de muchos ceros

### 2021

In [88]:
#lee el csv de datos de 2021 y saca las primeras filas para una observacion inicial
df_2021 = pd.read_csv("datos/datos-2021.csv", sep=";", encoding="latin-1")
df_2021.head()

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas de Capital,Operações de Crédito,Operações de crédito - mercado interno,TITULOS DE RESPONS.TES.NAC.-MERC.INT.-PRINC.,"2224034904,00","0,00","0,00","0,00",23/04/2021,2021
1,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receitas Correntes - a classificar,Receitas Correntes - a classificar,Receitas Correntes - a classificar,"0,00","0,00","0,00","0,00",16/04/2021,2021
2,37000,Controladoria-Geral da União,37000,Controladoria-Geral da União - Unidades com ví...,370001,DIRETORIA DE GESTAO INTERNA(CGU),Receitas de Capital,Operações de Crédito,Operações de crédito - mercado interno,TITULOS DE RESPONS.TES.NAC.-MERC.INT.-PRINC.,"608888110,00","0,00","0,00","0,00",23/04/2021,2021
3,22000,"Ministério da Agricultura, Pecuária e Abastec",22211,Companhia Nacional de Abastecimento,135100,COMPANHIA NACIONAL DE ABASTECIMENTO,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-MUL.JUR.,"0,00","0,00","160,25","0,00",26/01/2021,2021
4,22000,"Ministério da Agricultura, Pecuária e Abastec",22211,Companhia Nacional de Abastecimento,135100,COMPANHIA NACIONAL DE ABASTECIMENTO,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-MUL.JUR.,"0,00","0,00","511,43","0,00",16/03/2021,2021

In [89]:
#saca el numero de filas y columnas de este dataframe
df_2021.shape

(134593, 16)

Para 2021 cuento con 134593 filas y 16 columnas

In [90]:
#saca el reporte de nulos y tipo de dato de las columnas
se.info_reporte(df_2021)

                           Numero_nulos  Porcentaje_nulos Tipo_dato
CÓDIGO ÓRGÃO SUPERIOR                 0              0.00     int64
NOME ÓRGÃO SUPERIOR                   0              0.00    object
CÓDIGO ÓRGÃO                          0              0.00     int64
NOME ÓRGÃO                            0              0.00    object
CÓDIGO UNIDADE GESTORA                0              0.00     int64
NOME UNIDADE GESTORA                  0              0.00    object
CATEGORIA ECONÔMICA                   0              0.00    object
ORIGEM RECEITA                        0              0.00    object
ESPÉCIE RECEITA                       0              0.00    object
DETALHAMENTO                          0              0.00    object
VALOR PREVISTO ATUALIZADO             0              0.00    object
VALOR LANÇADO                         0              0.00    object
VALOR REALIZADO                       0              0.00    object
PERCENTUAL REALIZADO                  0              0.00    object
DATA LANÇAMENTO                     123              0.09    object
ANO EXERCÍCIO                         0              0.00     int64

In [91]:
#comprueba si hay duplicados por todas las columnas
df_2021.duplicated().sum()

np.int64(0)

Para 2021 no hay duplicados y hay nulos en la fecha de registro

In [92]:
#aplica la funcion a las 4 columnas 'VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO', 'VALOR REALIZADO','PERCENTUAL REALIZADO' para cambiar a decimal
df_2021[['VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO', 'VALOR REALIZADO',
       'PERCENTUAL REALIZADO']] = df_2021[['VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO', 'VALOR REALIZADO',
       'PERCENTUAL REALIZADO']].apply(conversion_tipo_datos)

In [93]:
#convierte la columna DATA LANÇAMENTO a tipo fecha
df_2021["DATA LANÇAMENTO"] = pd.to_datetime(df_2021["DATA LANÇAMENTO"], format="%d/%m/%Y")

In [94]:
#comprueba cuales son las fechas faltantes
se.comprobacion_fechas(df_2021, "DATA LANÇAMENTO")

DatetimeIndex([], dtype='datetime64[ns]', freq='D')

In [95]:
#saca los estadisticos de DATA LANÇAMENTO para verificar cual es el minimo y el maximo 
df_2021["DATA LANÇAMENTO"].describe().T

count                           134470
mean     2021-06-16 01:48:28.110359040
min                2021-01-01 00:00:00
25%                2021-03-29 00:00:00
50%                2021-06-15 00:00:00
75%                2021-09-06 00:00:00
max                2021-12-03 00:00:00
Name: DATA LANÇAMENTO, dtype: object

No hay fechas faltantes en 2021 y de nuevo mantengo los nulos pues son un 0,09%. En este caso si las fechas faltantes estuviesen en el mes de diciembre, tampoco nos lo está devolviendo ya que la fecha máxima está en el 3 de diciembre. Pero de nuevo, tampoco afecta al análisis. Al final, se trataba de encontrar un patrón en los nulos para tratar de dar cierta explicación a los mismos y tratar de rellenarlos pero no se ha encontrado ningún patrón, pues en ciertos años no faltaba ninguna fecha concreta, y en otros en alguno faltaba en el mes de marzo, otros en enero, otros en diciembre, e incluso en mayo

In [96]:
#devuelve los descriptivos de las variables numericas
df_2021.describe().T

,count,mean,min,25%,50%,75%,max,std
CÓDIGO ÓRGÃO SUPERIOR,134593.0,31988.327773,20000.0,25000.0,26000.0,39000.0,81000.0,10479.746001
CÓDIGO ÓRGÃO,134593.0,31450.668081,20101.0,25000.0,26285.0,36000.0,90000.0,10266.495352
CÓDIGO UNIDADE GESTORA,134593.0,238796.92348,110005.0,154044.0,170013.0,253002.0,873001.0,151371.027045
VALOR PREVISTO ATUALIZADO,134593.0,31061916.08321,0.0,0.0,0.0,0.0,1603521711208.0,4734032653.060672
VALOR LANÇADO,134593.0,2673161.079808,-37505821629.82,0.0,0.0,0.0,114112106824.449997,398805402.235952
VALOR REALIZADO,134593.0,28800695.614728,-12126486130.059999,304.56,4341.0,60573.33,55340292367.190002,705929818.312159
PERCENTUAL REALIZADO,134593.0,0.002459,-1.0,0.0,0.0,0.0,51.0,0.233435
DATA LANÇAMENTO,134470,2021-06-16 01:48:28.110359040,2021-01-01 00:00:00,2021-03-29 00:00:00,2021-06-15 00:00:00,2021-09-06 00:00:00,2021-12-03 00:00:00,NaN
ANO EXERCÍCIO,134593.0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,0.0

In [97]:
#devuelve los descriptivos de las variables categoricas
df_2021.describe(include="object").T

,count,unique,top,freq
NOME ÓRGÃO SUPERIOR,134593,20,Ministério da Educação,39869
NOME ÓRGÃO,134593,256,Ministério da Economia - Unidades com vínculo ...,21403
NOME UNIDADE GESTORA,134593,268,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,20277
CATEGORIA ECONÔMICA,134593,5,Receitas Correntes,128090
ORIGEM RECEITA,134593,15,Receita de Serviços,39917
ESPÉCIE RECEITA,134593,42,Serviços Administrativos e Comerciais Gerais,34121
DETALHAMENTO,134593,600,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,19532

Llegados a este punto que estamos en el último año disponible, voy a comentar los 3 aspectos clave que he observado de primeras en los descriptivos de las variables numéricas. En primer lugar, es bastante curioso que en los 3 primeros años (2013, 2014 y 2015) la fecha de registro siempre sea el 31 de diciembre. Para el resto de los años, la fecha de registro ya tiene más coherencia, pues ya toma valores para todo el año, desde el 1 de enero hasta el 30/31 de diciembre.Podría ocurrir que la columna de fecha de registro fuese incorporada en la base de datos a partir del 2016 y que por lo tanto sea a partir de este año para el que contamos con este valor correcto. Para los años anteriores, quizás han optado por incluir la columna pero con un valor único para todos los registros (31 de diciembre), y por tanto, en estos 3 años, la fecha de registro claramente no releja la realidad de cuando los ingresos fueron registrados. En segundo lugar, he observado valores negativos tanto en la previsión como en la recaudación final de los ingresos. Al ser muchos los registros donde los valores son negativos, no puede deberse a un error al introducir los datos, y he tratado de buscar una explicación razonable a estos valores. En tercer y último lugar, la presencia de muchos ceros en las 3 columnas de valor previsto actualizado, valor lanzado y el percentual, es evidente y es algo que tras la concatenación de los dataframes y en el análisis exploratorio del dataframe final observaré y analizaré el por qué

### Concatenación de los datos

El siguiente paso es concatenar los dataframes para obtener uno nuevo que sea el final con el que voy a seguir trabajando de aquí en adelante, que va a contener las 16 columnas que contiene cada dataframe de cada año y todos los registros de todos los dataframes (es decir, la información para todos los años). En este caso no es necesario antes de la concatenación añadir ninguna columna a cada uno de los dataframes individuales ya que cada uno de ellos ya contiene una columna con el año correspondiente, que es la que interesaría añadir en caso de que no la hubiesen tenido ya

In [98]:
#concatenacion de los dataframes individuales en uno final 
df = pd.concat([df_2013, df_2014, df_2015, df_2016, df_2017, df_2018, df_2019, df_2020, df_2021], axis=0, ignore_index = True)
df.head()

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC,0.0,0.0,1297.13,0.0,2013-12-31,2013
1,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,0.0,0.0,26666621.42,0.0,2013-12-31,2013
2,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS E JUROS DE MORA,0.0,0.0,301251.13,0.0,2013-12-31,2013
3,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIV.ATIVA POR INFRAÇÃO ADMINISTRATIVA,0.0,0.0,1855.58,0.0,2013-12-31,2013
4,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",OUTRAS RESTITUICOES,0.0,0.0,52140.68,0.0,2013-12-31,2013

In [99]:
#saco el numero de filas y columnas
df.shape

(1026299, 16)

Contamos con 1026299 filas y 16 columnas

He estado mirando para poder traducir tanto el nombre de las columnas como el contenido de las mismas al español, pero la tarea es algo complicada ya que hay columnas que tienen muchísimos valores únicos y chatgpt no devuelve la traducción de toda la lista de los valores. Finalmente he decicido mantenerlo en portugués y a la hora de hacer la exposición, como es algo que llevaré preparado de antemano, la podré exponer en español

In [100]:
#guarda el dataframe final 
df.to_pickle("datos/datos-final.pkl")

## Resumen EDA inicial de dataframes individuales

### 2013 
- 16 columnas y 4498 filas 
- No hay nulos 
- No hay duplicados 

### 2014
- 16 columnas y 4553 filas 
- No hay nulos 
- No hay duplicados 

### 2015
- 16 columnas y 4253 filas 
- No hay nulos 
- No hay duplicados 

### 2016
- 16 columnas y 194533 filas 
- Hay nulos en la columna fecha de registro (0,04%)
- No hay duplicados 

### 2017
- 16 columnas y 190479 filas 
- Hay nulos en la columna fecha de registro (0,05%)
- No hay duplicados 

### 2018
- 16 columnas y 173944 filas 
- Hay nulos en la columna fecha de registro (0,07%)
- No hay duplicados 

### 2019
- 16 columnas y 176828 filas 
- Hay nulos en la columna fecha de registro (0,05%)
- No hay duplicados 

### 2020
- 16 columnas y 142348 filas 
- Hay nulos en la columna fecha de registro (0,06%)
- No hay duplicados 

### 2021
- 16 columnas y 134593 filas 
- Hay nulos en la columna fecha de registro (0,09%)
- No hay duplicados 

### Limpieza de datos - Tratamiento de nulos y establecimiento de tipo de datos 
- No se ha encontrado un patrón en las fechas faltantes de los nulos. Al ser un % tan mínimo se van a mantener como están.
- El tipo de dato de las columnas valor previsto actualizado, valor lanzado, valor realizado y percentual realizado no son correctos. Se ha cambiado de tipo object a tipo float. El tipo de dato de la fecha de registro tampoco era el correcto. Se ha cambiado de tipo object a tipo date.

### Concatenado (dataframe final)
- 1026299 filas y 16 columnas 

### Aspectos sorprendentes a tener en cuenta o a investigar el por qué 
- En el caso de 2013, 2014 y 2015 hay una única fecha de registro: 31 de diciembre. Posible explicación: Creación de esta columna en la base de datos a partir de 2016. 
- Hay valores negativos en las columnas de valor realizado, valor previsto actualizado y percentual realizado. Posible explicación: Ajustes administrativos, devoluciones, compensaciones etc.
- Muchos ceros en las columnas de valor previsto actualizado, valor lanzado y percentual realizado. Se observará y analizará en el eda del concatenado.